* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    font-family: 'Ubuntu', sans-serif;

    background-color: #f1f1f1;
}

header {
    text-align: center;

    margin-bottom: 50px;
}

header h1 {
    font-size: 3rem;

    margin-top: 70px;

    color: #30303a;
}

header .bar {
    background-color: #cc964f;
    width: 100px;
    height: 5px;

    margin: 10px auto 0 auto;
}

header .btn-container {
    margin-top: 40px;
}

header .btn-container button {
    border: 2px solid #cc964f;
    border-radius: 8px;

    font-size: 1.1rem;

    padding: 5px 15px;
    margin: 0 5px 0 5px;

    cursor: pointer;
}

header .btn-container button:hover {
    background-color: #cccbcb;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    
    width: 1150px;
    margin: auto;
}

main article {
    display: flex;
}

main article .photo {
    width: 200px;
    height: 140px;

    border: 3px solid #cc964f;
    border-radius: 10px;
}

main article .info-food {
    margin-left: 15px;
}

main article .info-food .pay {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px dotted #30588db7;
    margin-bottom: 15px;
}

main article .info-food span {
    font-size: 1.2rem;
    font-weight: bolder;

    letter-spacing: 2px;

    color: #30303a;
}

main article .info-food p {
    color: #30588db7;

    text-align: justify;

    font-size: 1rem;
}